<h1>Create New Product</h1>

<form action="/products/create-product" method="POST">
  Barcode<br>
  <input type="text" name="barcode"><br>
  Product Name: <br>
  <input type="text" name="name"><br>
  Price:<br>
  <input type="text" name="price"><br>
  How Many?:<br>
  <input type="text" name="existence"><br>
  <button type="submit">Create</button>
</form>