<form action="">
  Username:<br>
  <input type="text"><br>
  Password:<br>
  <input type="password"><br>
  <button type="submit">Login</button>
</form>

You don't have an account?<br>
<button><a href="/signup">Sign Up</a></button>
