<h1>Sales</h1>
<input type="text" name="barcode" id="barcode" placeholder="Barcode">
<button onclick="getProduct()">Add to cart</button>
<span id="errorMessage" class="hidden">The product does not exist</span>

<div class="show-product" id="show-product"></div><br>
<span class="total" id="total"></span><br>
<span class=""></span>

<script src="/javascripts/sales.js"></script>