<form action="/signup" method="POST">
  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="text" name="password"><br>
  <button type="submit">Sign Up</button>
</form>