<form action="/signup" method="POST">
  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password"><br>
  Name:<br>
  <input type="text" name="name"><br>
  Last Name:<br>
  <input type="text" name="lastName"><br>
  <button type="submit">Sign Up</button>
</form>

