body {
  padding: 50px;
  font: 14px "Roboto Condensed", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

  .hidden {
    display: none;
  }

  .total {
    font-weight: bold;
  }

  .card-img-top{
    height: 200px;
  }

  .total {
    font-size: x-large;
    color: white;
    padding-right: 70px;
  }

  .form-signin {
    width: 25%;
  }
.navbar {
  font-size: 2rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.home-content {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#user-card {
  margin-top: 7rem;
}

.login{
  border-style: solid;
  border: grey;
  border-width: 2px;
}

.login-form {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
 
}

.login-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;

}

.sale-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border:gray;
  border-style: solid;
  border-width: 3px;
  border-radius: 1rem;
  margin: 1.5rem;
  padding:1rem;
  width: 50rem;
  }

.sale-description {
  font-size: 1.2rem;
}

.show-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  
}

.barcode-search {
  width: 30rem;
  height: 2.2rem;
  border-radius: 3px;
}

.sales-content{
  padding-top: 3rem;
}

#amount {
  font-size: 1.2rem;
}

.navbottom {
  height: 5rem;
  font-size: 6rem;
}
.navbottom span{
  font-size: 3rem;
}

.home-info{
  display: flex;
  justify-content: center;

}

#introduction{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#catalog {
  margin: 1rem;
}

.product-title {
  margin-left: 1rem;
}

.product-main-container{
  margin-top: 3rem;
}

.reports-container {
  margin-top: 3rem;
}

.report-cards-container {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

#report-card {
  margin: 1rem;
}

#subtotal {
  font-weight: bold;
}

.card-text{
  font-size: 1rem;
}

.card-title {
  font-weight: bold;
}

.login-main-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.login-container{
  border: 2px solid gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 20rem;
  padding-top: 2.5rem;
}

